.main-landing-blog {
  background-color: rgba(0,0,0,.7);
  background-image: url(../images/blog-page-bcg.jpg);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-size: contain;
  height: 300px;
  width: 100%;
  color: #999;
}
.blog-heading{
      text-align: center;
      letter-spacing: 2px;
      font-weight: 400;
}
.blog-container-div{
  top: 25%;
  position: relative;
}
.blog-container-div img{
  margin: auto;
    display: table;
    border: 1px solid white;
    border-radius: 50%;
}
.blog-foot-tags{
  display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.blog-foot-tags p{
  font-size: 120%;
    letter-spacing: 1px;
}
