.main-landing-blog {
  background-color: rgba(0,0,0,.7);
  background-image: url(../images/jogendrasingh.jpg);
  background-blend-mode: multiply;
  background-attachment: fixed;
  height: 400px;
  width: 100%;
  color: #999;
}
