.landing-page{
    background-color: rgba(0,0,0,.6);
    background-image: url(../images/allahbad.jpg);
    background-blend-mode: multiply;
    height: 100vh;
    width: 100%;
    background-size: cover;
    color: #999;
}
.title-name{
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
}
.title-name h2{
  font-size: 200%;
  text-align: center;
  color: white;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 300;
}
.title-name h4{
  font-size: 100%;
  text-align: center;
  color: white;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 300;
}
.title-name hr{
  width: 25%;
}
.about-me{
  background-color:#fff;
  color: #333;
}
/* social buttons */
