body{
  background-color: transparent;
}
.landing-page{
    background-color: rgba(0,0,0,.7);
    background-image: url(../images/jogintroworkshop.JPG);
    background-blend-mode: multiply;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    background-size: cover;
    color: #999;
}
@media screen and (max-width:768px){
  .landing-page{
  background-image: url(../images/jogintroworkshop-mob.JPG);
}
}
.title-name{
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
}
.title-name h2{
  font-size: 200%;
  text-align: center;
  color: white;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 300;
}
.title-name h4{
  font-size: 100%;
  text-align: center;
  color: white;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 300;
}
.title-name hr{
  width: 25%;
}

.disabledLink{
  cursor: not-allowed;
}

.open > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity:1;
}

.dropdown-menu {
  opacity:.3;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: scale(1, 0);
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}
.caret-up {
    width: 0;
    height: 0;
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;

    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

/* Social Icons*/
.social-icons{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.social-icons a{
    /*padding: 0.6%;*/
    margin: 1%;
    color: #999;
}
.social-icons a:hover{
    color: #fff;
    transition: 0.5s;
}
@media screen and (max-width:768px){
  .fa-3x{
    font-size: 2em;
    padding: 2px;
  }
}
/* ABOUT ME SECTION */
.about-me{
  color: #333;
  /*height: 100vh;*/
  width: 100%;
  background-color: rgba(0,0,0,.9);
  background-image: url(../images/iosdeveloper.png);
  background-blend-mode: multiply;
  background-attachment: fixed;
}
@media screen and (max-width:768px){
  .about-me{
  background-image: url(../images/iosdeveloper-mob.png);
}
}
.navbar-inverse{
  background-color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
    letter-spacing: 1px;
}
.fa-angle-double-down, .fa-terminal{
  margin: 3% auto;
  margin-bottom: 1%;
      display: table;
      color: white;
}
.section-header{
  padding-top: 50px;
margin: 0 auto;
display: table;
color: white;
text-transform: uppercase;
letter-spacing: 5px;
font-weight: 300;
}
.section-hr{
  border-top: 1px solid rgba(255,255,255,0.4);
}
.about-me-description{
  color: #999;
    letter-spacing: 2px;
    font-weight: 300;
    padding: 3%;
    margin: auto;
    display: table;
    width: 100%;
    font-size: 110%;
    border: 1px solid rgba(255,255,255,.7);
    border-radius: 5px;
    margin-top: 20px;
}
@media screen and (min-width:768px){
  .about-me-description{
    width: 50%;
  }
}

/* Projects section */
.projects{
  color: #333;
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0,.7);
  background-image: url(../images/projects-bcg.jpg);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-size: cover;
}
.section-end-hr{
  margin: 0;
border: 0;
border-top: 1px solid rgba(255,255,255,.2);
border-bottom: 1px solid rgba(255,255,255,.2);
padding: 1px;
}


/* blog section */
.blogs{
  color: #333;
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  background-image: url(../images/blog-bcg.png);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-size: cover;
}
